@import '../colors';

.problem-container {
  border-width: 10px;
  border-style: solid;
  &.add {
    border-color: $addcolor;
  }
  &.divide {
    border-color: $dividecolor;
  }
  &.subtract {
    border-color: $subtractcolor;
  }
  &.multiply {
    border-color: $multiplycolor;
  }
  border-style: solid;
  border-width: 5;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
  text-align: center;
  .problem-answer {
    padding-bottom: 20px;
  }
  input {
    width: 100px;
    height: 40px;
    font-size: 36px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .wrong-icon, .right-icon, .skip-icon {
    font-size: 60px;
  }
  &.presented {
    .wrong-icon {
      display: none;
    }
    .right-icon {
      display: none;
    }
    .skip-icon {
      display: none;
    }
    .given-answer {
      display: none;
    }
    .right-answer {
      display: none;
    }
  }
  &.right {
    .wrong-icon {
      display: none;
    }
    .right-icon {
      color: $rightbackground;
    }
    .skip-icon {
      display: none;
    }
    .collect-answer {
      display: none;
    }
    .right-answer {
      display: none;
    }
  }
  &.wrong {
    .wrong-icon {
      color: $wrongbackground;
    }
    .right-icon {
      display: none;
    }
    .skip-icon {
      display: none;
    }
    .collect-answer {
      display: none;
    }
    .given-answer {
      color: red;
    }
    .right-answer {
      color: black;
    }
  }
  &.skipped {
    .wrong-icon {
      display: none;
    }
    .right-icon {
      display: none;
    }
    .skip-icon {
      color: black;
    }
    background-color: $graybackground;
    .collect-answer {
      display: none;
    }
  }
  &.not-answered {
    .wrong-icon {
      display: none;
    }
    .right-icon {
      display: none;
    }
    .skip-icon {
      color: black;
    }
    background-color: $graybackground;
    .collect-answer {
      display: none;
    }
  }
}
