@import '../colors';

.timer-container {
  .time-remaining {
    color: $darktext;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    margin-right: 20px;
    font-size: 60px;
    text-align: center;
    &.warning {
      color: $warningtext;
    }
  }
}
