$titlecolor: darkslategray;
$whitetext: white;
$darktext: darkslategray;
$rightbackground: lightgreen;
$wrongbackground: crimson;
$graybackground: lightgray;
$righttext: green;
$wrongtext: deeppink;
$warningtext: red;
$addcolor: firebrick;
$madnesscolor: darkslategray;
$subtractcolor: darken(darkgreen, 5%);
$dividecolor: navy;
$multiplycolor: goldenrod;