$darkbackground: darkgreen;
$whitetext: white;
$darktext: darkgreen;
$rightbackground: lightgreen;
$wrongbackground: lightpink;
$graybackground: lightgray;
$righttext: green;
$wrongtext: deeppink;
$warningtext: red;